/* ////////////////////////////////////////////////////////////////////////////////
/// Top navigation
//////////////////////////////////////////////////////////////////////////////// */
body{
  margin: 0;
}

.main{
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #ffa31a;
}

.topnav {
  overflow: hidden;
  font-family: 'Gemunu Libre', sans-serif;
  float: right;
  width: 100%;
}


.topnav ul{
  list-style: none;
  margin: 0 auto;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.right-top-nav{
    background-color: #ffa31a;
}
.right-top-nav a{
  float: right;
}

.left-top-nav{
    float: left;
}

.left-top-nav img{
  width: 200px;
  height: 60px;
  object-fit: cover;
}

.topnav .right-top-nav a:hover {
  background-color: #EA8F1C;
  text-transform: uppercase;
  color: white;
}
/* ////////////////////////////////////////////////////////////////////////////////
/// Top navigation end
//////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////
/// Index
//////////////////////////////////////////////////////////////////////////////// */
#index-body{
  background-color: #1b1b1b;
}
.index-header{
  background-color: #ffa31a;
  width: 100%;
  
}
.index-header img{
  width: 200px;
  height: 60px;
  object-fit: cover;
}
.index-menu{
  margin-top: 100px;
  margin-left: 50px;
  
}
.index-menu li{
  display: inline;
  list-style: none;
  

}
.index-menu a{

  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  padding: 1em;
  font-family: 'Gemunu Libre', sans-serif;
}
.index-menu a:hover{
  background-color: #EA8F1C;
  text-transform: uppercase;
  color: white; 
}
#index-title{
  color: #f2f2f2;
  text-align: center;
  font-family: 'Gemunu Libre', sans-serif;
}
.poison-wrapper{
  width: 90%;
  margin: auto;
  text-align: center;
}
/* ////////////////////////////////////////////////////////////////////////////////
/// Index end
//////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////
/// Divan_van_Rhyn
//////////////////////////////////////////////////////////////////////////////// */

.d-Heading{
    text-align: center;
    color: Black;
    background-color: orange;
    margin-top: 40px;
}

.d-Heading-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px;
    background-color: Orange;
    margin-top: 100px;
}

.d-Footer, .d-Sources{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    color: black;
    background-color: orange;
    text-align: center;
}

.d-source-list{
    background-color: orange;
    color: black;
}


/* ////////////////////////////////////////////////////////////////////////////////
/// Divan_van_Rhyn end
//////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////
/// James_Rudd
//////////////////////////////////////////////////////////////////////////////// */

.jay_body{
  margin: 0;
}

.jay_container {
  min-height: 100vh;
  display: grid;
  text-align: center;
  grid-template-rows: 2;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: #1b1b1b;
}

.jay_container p{
  color: white;
  font-size: 30px;
  align-items: center;
}
.jay_orange-background{
  background-color: #ffa31a;
  width: 100%;
}
.jay_components .jay_paragraphs{
  width: 75rem;
  height: auto;
  border-radius: 3rem;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, .05), -5px -5px 15px rgba(0, 0, 0, 0.5),
  inset -5px -5px 5px rgba(0, 0, 0, 0.5) ,inset 5px 5px 5px  rgba(255, 255, 255, .05);
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(3,  2fr);
  grid-column-gap: 5rem;
  grid-row-gap: 2.5rem;
  align-items: center;
 }

 .jay_content{
   width: 100%;
   height: 90%;
   padding: 15px 10px;
   border-radius: 2rem;
   box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1) ,
               inset 2px 2px 6px rgba(0, 0, 0, 0.8);
 }

 .jay_content p{
   color: white;
   font-size: 14px;
   text-align: justify;
 }

 .jay_content:hover{
   background-color: #ffa31a;
   transition: 0.5s;
   box-shadow: 0 0 15px #d35400;
 }


/* ////////////////////////////////////////////////////////////////////////////////
/// James_Rudd end
//////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////
/// Johannes_Jordaan
//////////////////////////////////////////////////////////////////////////////// */

.ip-header{
    /* background-image: url("images/23324.jpg"); */
    background-color: #ffa31a;
    width: 100%;
    height: auto;
    padding-top: 50px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}
.ip-heading-wrapper{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 50px 0px;
}
.ip-paragraph-header{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 50px 0px;
    color: #808080;
}
.ip-heading-wrapper h1,h2{
    color: #1b1b1b;
    text-align: center;
}
.ip-hr{
    background-color: #808080 ;
    border-color: #808080;
    height: 1px;

}
.ip-text-wrapper{
    width: 70%;
    margin: auto;
    text-align: justify;
    padding-bottom: 50px;
    font-family: 'Gemunu Libre', sans-serif;
}
.ip-references{
    width: 70%;
    margin: auto;
    text-align: justify;
    background-color: #ffa31a;
    color: #1b1b1b;
}
.ip-reference-wrapper{
    background-color: #ffa31a;
}
.ip-three-col-grid{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto;
    align-items: center;
}
.ip-text-wrapper li{
    list-style: none;
}
.ip-color-gray{
    color: #bebebe;
}
.ip-list a{
    text-decoration: none;
    color: #1b1b1b;
}

.ip-references a:hover{
    background-color: rgb(40, 34, 124);
    color: #9383e9
}
.ip-references li{
    margin-bottom:10px ;
    overflow: hidden;
}


/* ////////////////////////////////////////////////////////////////////////////////
/// Johannes_Jordaan end
//////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////
/// Wian_Meintjies
//////////////////////////////////////////////////////////////////////////////// */

.darkbgpiesang{
    background-color: #1b1b1b;
    color: white;
    width: 80%;
}
.headerpiesang{
    margin-top: 100px;
    height: 100px;
    text-align: center;
    padding: 50px;
    background-color: #ffa31a;
}
.hrpiesang{
    background-color: #808080 ;
    border-color: #808080;
    height: 1px;

}


.stylingheadingspiesang{
    font-weight: bold;
    color: white;
}
.tablepiesang{
    padding: 2px;
    margin: auto;
    border-collapse: collapse;

}
.ollipiesang{
    text-decoration: none;
    list-style: none;
}
.tdpiesang{
    border:solid 2px #808080;
    padding: 3px;
    text-align: center;
    width: 200px;
    height: 110px;
}
.wrapperpiesang{
    width: 70%;
    text-align: center;
    margin: auto;
}
.referencespiesang{
    width: 70%;
    margin: auto;
    text-align: justify;
    background-color: #ffa31a;
    color: #1b1b1b;
}
.reference-wrapperpiesang{
    background-color: #ffa31a;
    width: 100%;
}


/* ////////////////////////////////////////////////////////////////////////////////
/// Wian_Meintjies end
//////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////
/// WJ_Hepburn
//////////////////////////////////////////////////////////////////////////////// */
.tablewj{
    background-color: black;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid #ffa31a;
    ;
}
.tdwj{
    background-color: black;
    border: 2px solid #ffa31a;
    text-align: center;
    height: 70px;
    color: #808080;

}

.main-wrapperwj {
    width: 80%;
    margin: auto;
}

.footerwj {
    margin-top: 10px;
    padding-top: 5px;
    background-color: #ffa31a;
    width: 100%;
    height: 50px;
    color: whitesmoke;
    text-align: right;
}

.three-col-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    grid-gap: 1em;
    border: 3px solid black;
}

.headerwj {
    color: black;
    background-color:#ffa31a;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: fit-content;
    text-align: center;
    border-radius: 20px 20px 0 0;
}
.headerh1{
    padding-top:100px;
    background-color: #ffa31a;
    height: 200px;
}


.three-col-grid article {
padding: 12px;
text-align: justify;
}
.three-col-grid article img{
    width: 100px;
    height: 100px;
    border-radius: 90px;
    border:3px solid black;
    box-shadow: 0px 4px 12px;
}
.three-col-grid article h2{
   background-color: #292929;
   border:3px solid black;
   color: #ffa31a;
   padding: 10px;
   border-radius: 20px 20px 0px 0px;
}
.centred-text{
    text-align: center;
}
article figcaption{
    font-style: italic;
}


/* ////////////////////////////////////////////////////////////////////////////////
/// WJ_Hepburn end
//////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////
/// yandre_bekker
//////////////////////////////////////////////////////////////////////////////// */

.WWW_body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image: url("Images/Background.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1000px;
    margin: 0;
    padding: 0;
}
.WWW_main{
    display: grid;
    grid-template-rows: 150px 200px 170px 150px;
    margin: 20px;
    text-align: center;
    align-self: center;
}
.WWW_Header{
    text-align: center;
}
.WWW_Sections{
    border: white ridge 4px;
    border-radius: 20px;
    margin: 20px;
    width: auto;
}
.WWW_footer{
    display: inline-flex;
    grid-template-columns: 200px 200px 200px 200px;
    margin: 0 200px 0 0;
}
.WWW_footer img{
    width: 200px;
    height: auto;
    position: inherit;
}
.WWW_footer div{
    margin: 0 320px 0 0;
}


/* ////////////////////////////////////////////////////////////////////////////////
/// yandre_bekker end
//////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////
/// references
//////////////////////////////////////////////////////////////////////////////// */
.reference_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #1b1b1b;
}

.reference_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.reference_container .reference_card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.reference_container .reference_card:nth-child(1) .reference_box .reference_content a {
  background: #ffa31a;
}

.reference_container .reference_card:nth-child(2) .reference_box .reference_content a {
  background: #ffa31a;
}

.reference_container .reference_card:nth-child(3) .reference_box .reference_content a {
  background: #ffa31a;
}

.reference_container .reference_card .reference_box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.reference_container .reference_card .reference_box:hover {
  transform: translateY(-50px);
}

.reference_container .reference_card .reference_box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.reference_container .reference_card .reference_box .reference_content {
  padding: 20px;
  text-align: center;
}

.reference_container .reference_card .reference_box .reference_content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.reference_container .reference_card .reference_box .reference_content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.reference_container .reference_card .reference_box .reference_content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.reference_container .reference_card .reference_box .reference_content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.reference_container .reference_card .reference_box .reference_content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
/* ////////////////////////////////////////////////////////////////////////////////
/// end of references
//////////////////////////////////////////////////////////////////////////////// */
